<a href="https://colab.research.google.com/github/StefannyEscobar/Optimization-Algorithms/blob/main/ROPSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Librerias

In [ ]:
import pandas as pd
import numpy as np
import random
import math

## Ingresamos la matriz de datos

In [ ]:
alternatives = np.array([[7,15,12,34,9,2,5,8,40,17]
,[5,14,20,26,9,2,4,15,22,16],
[11,19,21,31,1,11,4,42,14,18],
[13,1,24,27,35,6,1,5,4,2]])
#Convertimos los datos de entrada en una matriz
pd_alter = pd.DataFrame(data = alternatives,
                        index = ['A1','A2', 'A3', 'A4'],
                        columns=['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10'])
pd_alter

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
A1   7  15  12  34   9   2   5   8  40   17
A2   5  14  20  26   9   2   4  15  22   16
A3  11  19  21  31   1  11   4  42  14   18
A4  13   1  24  27  35   6   1   5   4    2

# <center> Punto 1B

### Implementación TOPSIS
#### <span style="color:Blue"> Paso 1:

$En\ primer\ lugar\ le\ damos\ los\ pesos\ a\ cada\ criterio\ para\ construir\ la\ matriz\ de\ desión$

Para esto se decidio hacerlo de manera aleatoria ya que no se tiene preferencia sobre ninguna

In [ ]:
n = 10
nums = [random.random() for _ in range(n)]
suma = sum(nums)
weigth = [num/suma for num in nums]
weigth

[0.04533196847168458,
 0.20211753451957865,
 0.0039786813985698815,
 0.06705992987236878,
 0.11682983458161329,
 0.09817681935923595,
 0.18296157929117277,
 0.0014351268712127258,
 0.25259855852015856,
 0.029509967114404883]

#### <span style="color:Blue"> Paso 3:

$Construir\ la\ matriz\ de\ decisión\ $
$donde:$
La norma para $p=2$
$$v_{ij}= \frac{r_{ij}}{\sqrt{\sum_{i=1}^m(r_{ij})^2}}, \forall j = 1,2,...,n$$

## Norma P = 2

In [ ]:
def vecnorm(mat):
    sizes  = np.shape(mat)
    m = sizes[0]
    n = sizes[1]
    v = []
    normas = []
    for j in range(n):
        for i in range(m):
            r = (mat[i][j])**2
            v.append(r)
        vals = np.sqrt(sum(v))
        normas.append(vals)
    return normas
vector_Normalized = vecnorm(alternatives)
vector_Normalized

[19.078784028338912,
 33.8673884437522,
 52.03844732503075,
 78.93034904268447,
 87.28115489611719,
 88.22131261775694,
 88.54942122905152,
 99.5941765365827,
 110.52149112276761,
 114.40279716860073]

In [ ]:
def normalize(vec, mat):
    sizes  = np.shape(mat)
    m = sizes[0]
    n = sizes[1]
    v = np.zeros((m, n))
    for j in range(n):
        for i in range(m):
                v[i][j] = mat[i][j] / vec[j]
    return v

normalizada = normalize(vector_Normalized,alternatives)
pd_norm = pd.DataFrame(data = normalizada,
                        index = ['A1','A2', 'A3', 'A4'],
                        columns=['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10'])
pd_norm

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
A1,0.366900,0.442904,0.230599,0.430760,0.103115,0.022670,0.056466,0.080326,0.361921,0.148598
A2,0.262071,0.413377,0.384331,0.329404,0.103115,0.022670,0.045173,0.150611,0.199056,0.139857
A3,0.576557,0.561012,0.403548,0.392751,0.011457,0.124686,0.045173,0.421711,0.126672,0.157339
A4,0.681385,0.029527,0.461197,0.342074,0.401003,0.068011,0.011293,0.050204,0.036192,0.017482

$Construir\ la\ matriz\ de\ decisión\ ponderada $
$donde:$

$$\overline{v}_{ij} =v_{ij}\cdot w_j, \forall j = 1,2,...,n$$

$Donde:$
$$\sum W_j =1$$

In [ ]:
w = [0.16080725415783573,
0.20565938230877176,
0.1785406855161036,
0.0321902504032635,
0.0289215951779111,
0.137201741307777,
0.1315644222831187,
0.03016823558028442,
0.06923148936889213,
0.02571494389604221]

In [ ]:
def normalizepesos(vec, mat):
    sizes  = np.shape(mat)
    m = sizes[0]
    n = sizes[1]
    v = np.zeros((m, n))
    for j in range(n):
        for i in range(m):
                v[i][j] = mat[i][j] * vec[j]
    return v

normalizadap = normalizepesos(w,normalizada)
pd_normp = pd.DataFrame(data = normalizadap,
                        index = ['A1','A2', 'A3', 'A4'],
                        columns=['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10'])
pd_normp

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
A1,0.059000,0.091087,0.041171,0.013866,0.002982,0.003110,0.007429,0.002423,0.025056,0.003821
A2,0.042143,0.085015,0.068619,0.010604,0.002982,0.003110,0.005943,0.004544,0.013781,0.003596
A3,0.092714,0.115377,0.072050,0.012643,0.000331,0.017107,0.005943,0.012722,0.008770,0.004046
A4,0.109572,0.006072,0.082343,0.011011,0.011598,0.009331,0.001486,0.001515,0.002506,0.000450

#### <span style="color:Blue"> Paso 4:

#### Solución ideal positiva y negativa
$$\overline{A^+}$$
y $$\overline{A^-}$$

In [ ]:
arr = pd_normp.agg(['min', 'max'])
ar =np.matrix(arr)

matrix([[0.10957167, 0.11537731, 0.08234251, 0.01386626, 0.01159764,
         0.01710719, 0.00742887, 0.01272229, 0.0250563 , 0.00404596]])

In [ ]:
anti = [0.04214295, 0.00607249, 0.04117126, 0.01060361, 0.00033136,
        0.0031104 , 0.00148577, 0.00151456, 0.00250563, 0.00044955]
ideal = [0.10957167, 0.11537731, 0.08234251, 0.01386626, 0.01159764,
        0.01710719, 0.00742887, 0.01272229, 0.0250563 , 0.00404596]

[0.10957167,
 0.11537731,
 0.08234251,
 0.01386626,
 0.01159764,
 0.01710719,
 0.00742887,
 0.01272229,
 0.0250563,
 0.00404596]

#### <span style="color:Blue"> Paso 5:

#### Cálculo de las medidas de distancia

Esto se hace con:
$$\overline{d_i^+}=\sqrt{\sum_j(\overline{v_{ij}}-\overline{A^+_j})^2}$$
para la solución ideal positiva.
$$\overline{d_i^-}=\sqrt{\sum_j(\overline{v_{ij}}-\overline{A^-_j})^2}$$
Para la solución ideal negativa

In [ ]:
def dist(mat, vec):
    sizes  = np.shape(mat)
    m = sizes[0]
    dist= [np.sqrt(sum((normalizadap[i,:]-vec)**2)) for i in range(m)]
    return dist
distIdeal = dist(normalizadap, ideal)
distAnti = dist(normalizadap, anti)
display(distAnti,distIdeal)

[0.08991890950091466,
 0.08460714936087402,
 0.12592150449442488,
 0.08004685248550991]

[0.07224132893732456,
 0.07832026672531153,
 0.028035568064259487,
 0.11268788858233325]

#### <span style="color:Blue"> Paso 6 y 7 :

#### Calcular la proximidad de cada alternativa a la solución ideal positiva y negativa y ordenarlas de acuerdo a su proximidad relativa
Esto se hace con el $Ratio\ de\ similaridad$ definido como:
$$ \overline{RS_i}= \frac{d^-_i}{d^+_i+d^-_i};i=1,2,...,m$$

In [ ]:
proximidad = [distAnti[i]/(distAnti[i]+distIdeal[i]) for i in range(normalizadap.shape[0])]
ratio = pd.DataFrame(proximidad,columns=['Ratio'],index = ['A1','A2', 'A3', 'A4'])
RatioSi = ratio.sort_values(by=['Ratio'],ascending=False)
RatioSi

       Ratio
A3  0.817900
A1  0.554507
A2  0.519294
A4  0.415321

## Norma P =1

#### <span style="color:Blue"> Paso 3:

$Construir\ la\ matriz\ de\ decisión\ $
$donde:$
La norma para $p=2$
$$v_{ij}= \frac{r_{ij}}{\sqrt{\sum_{i=1}^m(r_{ij})^2}}, \forall j = 1,2,...,n$$

In [ ]:
def vecnorm(mat):
    sizes  = np.shape(mat)
    m = sizes[0]
    n = sizes[1]
    v = []
    normas = []
    for j in range(n):
        for i in range(m):
            r = abs(mat[i][j])
            v.append(r)
        vals = sum(v)
        normas.append(vals)
    return normas
vector_Normalized = vecnorm(alternatives)
vector_Normalized

[36, 85, 162, 280, 334, 355, 369, 439, 519, 572]

In [ ]:
def normalize(vec, mat):
    sizes  = np.shape(mat)
    m = sizes[0]
    n = sizes[1]
    v = np.zeros((m, n))
    for j in range(n):
        for i in range(m):
                v[i][j] = mat[i][j] / vec[j]
    return v

normalizada = normalize(vector_Normalized,alternatives)
pd_norm = pd.DataFrame(data = normalizada,
                        index = ['A1','A2', 'A3', 'A4'],
                        columns=['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10'])
pd_norm

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
A1,0.194444,0.176471,0.074074,0.121429,0.026946,0.005634,0.01355,0.018223,0.077071,0.029720
A2,0.138889,0.164706,0.123457,0.092857,0.026946,0.005634,0.01084,0.034169,0.042389,0.027972
A3,0.305556,0.223529,0.129630,0.110714,0.002994,0.030986,0.01084,0.095672,0.026975,0.031469
A4,0.361111,0.011765,0.148148,0.096429,0.104790,0.016901,0.00271,0.011390,0.007707,0.003497

#### <span style="color:Blue"> Paso 3:

$Construir\ la\ matriz\ de\ decisión\ ponderada $
$donde:$
La norma para $p=2$
$$\overline{v}_{ij} =v_{ij}\cdot w_j, \forall j = 1,2,...,n$$

$Donde:$
$$\sum W_j =1$$

In [ ]:
def normalizepesos(vec, mat):
    sizes  = np.shape(mat)
    m = sizes[0]
    n = sizes[1]
    v = np.zeros((m, n))
    for j in range(n):
        for i in range(m):
                v[i][j] = mat[i][j] * vec[j]
    return v

normalizadap = normalizepesos(w,normalizada)
pd_normp = pd.DataFrame(data = normalizadap,
                        index = ['A1','A2', 'A3', 'A4'],
                        columns=['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10'])
pd_normp

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
A1,0.031268,0.036293,0.013225,0.003909,0.000779,0.000773,0.001783,0.000550,0.005336,0.000764
A2,0.022334,0.033873,0.022042,0.002989,0.000779,0.000773,0.001426,0.001031,0.002935,0.000719
A3,0.049136,0.045971,0.023144,0.003564,0.000087,0.004251,0.001426,0.002886,0.001868,0.000809
A4,0.058069,0.002420,0.026450,0.003104,0.003031,0.002319,0.000357,0.000344,0.000534,0.000090

#### <span style="color:Blue"> Paso 4:

#### Solución ideal positiva y negativa
$$\overline{A^+}$$
y $$\overline{A^-}$$

In [ ]:
arr = pd_normp.agg(['min', 'max'])
ar =np.matrix(arr)

In [ ]:
ideal = np.array([0.05806929, 0.04597092, 0.02645047, 0.00390882, 0.00303071,
        0.00425132, 0.00178272, 0.00288625, 0.00533576, 0.00080921])
anti = np.array([2.23343409e-02, 2.41952214e-03, 1.32252360e-02, 2.98909468e-03,
        8.65916023e-05, 7.72967557e-04, 3.56543150e-04, 3.43601772e-04,
        5.33576026e-04, 8.99123912e-05])

In [ ]:
def dist(mat, vec):
    sizes  = np.shape(mat)
    m = sizes[0]
    dist= [sum(abs(normalizadap[i,:]-vec)) for i in range(m)]
    return dist
distIdeal = dist(normalizadap, ideal)
distAnti = dist(normalizadap, anti)

#### <span style="color:Blue"> Paso 6 y 7 :

#### Calcular la proximidad de cada alternativa a la solución ideal positiva y negativa y ordenarlas de acuerdo a su proximidad relativa
Esto se hace con el $Ratio\ de\ similaridad$ definido como:
$$ \overline{RS_i}= \frac{d^-_i}{d^+_i+d^-_i};i=1,2,...,m$$

In [ ]:
proximidad = [distAnti[i]/(distAnti[i]+distIdeal[i]) for i in range(normalizadap.shape[0])]
ratio = pd.DataFrame(proximidad,columns=['Ratio'],index = ['A1','A2', 'A3', 'A4'])
RatioSi = ratio.sort_values(by=['Ratio'],ascending=False)
RatioSi

       Ratio
A3  0.823000
A4  0.489877
A1  0.471250
A2  0.418410

### P = infinito

#### <span style="color:Blue"> Paso 3:

$Construir\ la\ matriz\ de\ decisión\ $
$donde:$
La norma para $p=2$
$$v_{ij}= \frac{r_{ij}}{max_{i=1}^m|(r_{ij})|}, \forall j = 1,2,...,n$$

In [ ]:
def vecnorm(mat):
    sizes  = np.shape(mat)
    m = sizes[0]
    n = sizes[1]
    v = []
    normas = []
    for j in range(n):
        for i in range(m):
            r = abs(mat[i][j])
            v.append(r)
        vals = max(v)
        normas.append(vals)
    return normas
vector_Normalized = vecnorm(alternatives)
vector_Normalized

[13, 19, 24, 34, 35, 35, 35, 42, 42, 42]

In [ ]:
def normalize(vec, mat):
    sizes  = np.shape(mat)
    m = sizes[0]
    n = sizes[1]
    v = np.zeros((m, n))
    for j in range(n):
        for i in range(m):
                v[i][j] = mat[i][j] / vec[j]
    return v

normalizada = normalize(vector_Normalized,alternatives)
pd_norm = pd.DataFrame(data = normalizada,
                        index = ['A1','A2', 'A3', 'A4'],
                        columns=['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10'])
pd_norm

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
A1,0.538462,0.789474,0.500000,1.000000,0.257143,0.057143,0.142857,0.190476,0.952381,0.404762
A2,0.384615,0.736842,0.833333,0.764706,0.257143,0.057143,0.114286,0.357143,0.523810,0.380952
A3,0.846154,1.000000,0.875000,0.911765,0.028571,0.314286,0.114286,1.000000,0.333333,0.428571
A4,1.000000,0.052632,1.000000,0.794118,1.000000,0.171429,0.028571,0.119048,0.095238,0.047619

#### <span style="color:Blue"> Paso 3:

$Construir\ la\ matriz\ de\ decisión\ ponderada $
$donde:$
La norma para $p=2$
$$\overline{v}_{ij} =v_{ij}\cdot w_j, \forall j = 1,2,...,n$$

$Donde:$
$$\sum W_j =1$$

In [ ]:
def normalizepesos(vec, mat):
    sizes  = np.shape(mat)
    m = sizes[0]
    n = sizes[1]
    v = np.zeros((m, n))
    for j in range(n):
        for i in range(m):
                v[i][j] = mat[i][j] * vec[j]
    return v

normalizadap = normalizepesos(w,normalizada)
pd_normp = pd.DataFrame(data = normalizadap,
                        index = ['A1','A2', 'A3', 'A4'],
                        columns=['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10'])
pd_normp

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
A1,0.086589,0.162363,0.089270,0.032190,0.007437,0.007840,0.018795,0.005746,0.065935,0.010408
A2,0.061849,0.151538,0.148784,0.024616,0.007437,0.007840,0.015036,0.010774,0.036264,0.009796
A3,0.136068,0.205659,0.156223,0.029350,0.000826,0.043121,0.015036,0.030168,0.023077,0.011021
A4,0.160807,0.010824,0.178541,0.025563,0.028922,0.023520,0.003759,0.003591,0.006593,0.001225

#### <span style="color:Blue"> Paso 4:

#### Solución ideal positiva y negativa
$$\overline{A^+}$$
y $$\overline{A^-}$$

In [ ]:
arr = pd_normp.agg(['min', 'max'])
ar =np.matrix(arr)
arr

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
min,0.061849,0.010824,0.089270,0.024616,0.000826,0.007840,0.003759,0.003591,0.006593,0.001225
max,0.160807,0.205659,0.178541,0.032190,0.028922,0.043121,0.018795,0.030168,0.065935,0.011021

In [ ]:
ideal = [0.16080725, 0.20565938, 0.17854069, 0.03219025, 0.0289216 ,
        0.04312055, 0.01879492, 0.03016824, 0.06593475, 0.01102069]
anti = [0.06184894, 0.01082418, 0.08927034, 0.02461607, 0.00082633,
        0.0078401 , 0.00375898, 0.00359146, 0.00659348, 0.00122452]

In [ ]:
def dist(mat, vec):
    sizes  = np.shape(mat)
    m = sizes[0]
    dist= [max(abs(normalizadap[i,:]-vec)) for i in range(m)]
    return dist
distIdeal = dist(normalizadap, ideal)
distAnti = dist(normalizadap, anti)

#### <span style="color:Blue"> Paso 6 y 7 :

#### Calcular la proximidad de cada alternativa a la solución ideal positiva y negativa y ordenarlas de acuerdo a su proximidad relativa
Esto se hace con el $Ratio\ de\ similaridad$ definido como:
$$ \overline{RS_i}= \frac{d^-_i}{d^+_i+d^-_i};i=1,2,...,m$$

In [ ]:
proximidad = [distAnti[i]/(distAnti[i]+distIdeal[i]) for i in range(normalizadap.shape[0])]
ratio = pd.DataFrame(proximidad,columns=['Ratio'],index = ['A1','A2', 'A3', 'A4'])
RatioSi = ratio.sort_values(by=['Ratio'],ascending=False)
RatioSi

       Ratio
A1  0.578802
A3  0.560000
A2  0.549337
A4  0.520833